@import '~@fluentui/react/dist/sass/References';
@import '~@fluentui/react/dist/sass/Color';

.exam-cell {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 5px;
}

.exam-cell-date {
  font-style: italic;
}

.selected-exam {
  color: white;
  background-color: $ms-color-sharedCyanBlue10;
}

.selected-exam:hover {
  background-color: $ms-color-sharedCyanBlue10 !important;
}

.exam-cell:hover {
  background-color: lightgray;
  cursor: pointer;

  @include ms-depth-8;
}

#exam-list-container {
  width: 100%;
}


