.detail-hover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.row-btn {
  margin-bottom: 4px;;
  background: transparent;
}