.shake-anim {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


.bold-anim {
    font-weight: bold;
    transition: font-weight 0.2s;
}

#app-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
    font-weight: bold;
}

#hf-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hf-container button {
    margin: 10px;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#task-container-heading {
    text-align: center;
}

#create-task-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#create-task-btn {
    margin: 1rem;
}

#points-input-container {
    margin-top: 2rem;
    width: fit-content;
}

#task-table-container {
    width: 100%;
}

#task-table {
    width: 100%;
}

#reset-tasks-btn {
    background: indianred;
    margin: 5%;
}

