#app-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*
============================
GLOBAL STYLES
============================
 */

.margin-btn {
  margin-top: 1rem !important;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.horizontal-separator {
  width: 100%;
}

.stretch {
  width: 100%;
}